@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@using OnlineElection.ModelView
@model  ResultView
<div>
  

  
    
    <div style="display: inline-block" id="refresh">
      

        @for(int i=0;i<@Model.Names.Count;i++)
        {
                <div style="display: inline-block">

                    @Model.Names[i] 
                    @Model.Votes[i] votes and
                    @if(@Double.IsNaN(Model.Percents[0]))
                    {                      
                   <text>0%</text>
                  
                    }
                    else
                    {                   
                   <text> @Model.Percents[i] %</text>
                  
                    

                    }
                    
                 

                    </div>
                 <br/>
        }
       </div>
       <br/>
       <div>
         @if(Model.Active)
         {
             @if(Double.IsNaN( Model.Percents[0])||Model.Votes[0]==0)
             {
                  <p>  No one candidates has votes</p>
             }
             else
             {
          <p>   @Model.Names[0] is winning with @Model.Votes[0] and @Model.Percents[0] % now</p>
          
          }
         }
         else
         {
             if(Double.IsNaN(Model.Percents[0]) ||Model.Votes[0]==0 )
             {
            <p>  No one candidates has votes</p>
            }
            else
            {

                  <p>  Winner is @Model.Names[0] with @Model.Votes[0] votes and @Model.Percents[0]%</p>
        
            }
         }
          
       </div>

        <table id="newtable">
              
          </table>
      

          <div>
              
              @Html.ActionLink("Result as table", "ResultJsonAjax", new {id=Model.id})
          </div>
</div>


    