@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using OnlineElection.ModelView
@model JsonView
@{
}
<div>
<div id ="ViewID">
    @Html.GetJson(Model.json).id
</div>

    <table>
        <thead>
            <tr>

      <th scope="col">Name</th>
       <th scope="col">Vote</th>
         <th scope="col">Percents</th>

       </tr>
       </thead>
       <tbody id ="refresh">
   @for(int i=0;i<   @Html.GetJson(Model.json).Names.Count;i++)
   {
       
       <tr>
    
        <td>
            @Html.GetJson(Model.json).Names[i]
       </td>
        <td>
            @Html.GetJson(Model.json).Votes[i]
       </td>
        <td>
            @Html.GetJson(Model.json).Percents[i]
       </td>
       </tr>
   }

       </tbody>
    </table>
 
</div>

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
       
    $(document).ready(function () {
    var myInterval = setInterval(function () {
        getProgress();
    }, 5000);
});
var test;
function getProgress() {
    var ttt= document.getElementById("ViewID").innerHTML;
     var qqq= @Html.GetJson(Model.json).id;
   
var tmp=ttt.toString();
var url_ar='/Values/Get/';


    $.ajax({
        type: "GET",      
        url:'/Election/ResultJson' ,
         data: {Id:qqq},
  
        success: function (response) {
        
       
           var q_tb= document.getElementById("refresh");
           for(var  i_q=0;i_q<q_tb.rows.length;i_q++)
           {
                  for(var j_q=0; j_q<q_tb.rows[i_q].cells.length;j_q++)
                  {
                      switch(j_q)
                      {
                            case 0:
                              q_tb.rows[i_q].cells[j_q].innerHTML=response.names[i_q];
                              break;
                               case 1:
                              q_tb.rows[i_q].cells[j_q].innerHTML=response.votes[i_q];
                              break;
                               case 2:
                              q_tb.rows[i_q].cells[j_q].innerHTML=response.percents[i_q];
                              break;
                            
                      }

                      
                  }
           }
   

            
          
        },
        error: function () {
           alert("error")   
        }

    });
}


</script>

}